.Project{
    border: solid;
    border-width: .5px;
    margin-bottom: 100px;
    box-shadow: 0 10px 6px -6px #777;
}

.Project img{
    position: relative;
}

.icon{
    height: 200px;
    /* float: left; */
}

.details {
    padding-top: 3em;
}

.main-info {
    padding-top: 1em;
}